

   
    html{
      min-height:100%;
      
    }
    
    .con{
      margin:0 auto;
      width: 600px;
      position: relative;
      bottom: 380px;
    }
    /* left */
    .one {
        width: 190px;
        height: 115px;
     top:350px;
      display: flex;
      justify-content: center;
     
      background: -webkit-linear-gradient(#dee2e6, #ced4da );
     float:left;
     left: 2px;
        position: relative;
    }
    
    .one:before {
        content: "";
        position: absolute;
        top: -50px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 95px solid transparent;
        border-right: 95px solid transparent;
        border-bottom: 50px solid #dee2e6;
        
    }
    
    .one:after {
        content: "";
        position: absolute;
        bottom: -50px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 95px solid transparent;
        border-right: 95px solid transparent;
        border-top: 50px solid #ced4da
;
    }
    
    .one:hover{
      opacity:0.4;
      -webkit-transition: all .8s ease-in-out;
      -moz-transition: all .8s ease-in-out;
      -o-transition: all .8s ease-in-out;
      transition: all .8s ease-in-out;
    }
    
    /* Mid */
    .two {
        width: 190px;
        height: 115px;
     top:350px;
      display: flex;
      justify-content: center;

     
      background: -webkit-linear-gradient(#dee2e6, #ced4da );
     float:left;
     left: 2px;
        position: relative;
    
    }
    
    .two:before {
        content: "";
        position: absolute;
        top: -50px;
        left: 0;
        width: 10;
        height: 0;
        border-left: 95px solid transparent;
        border-right: 95px solid transparent;
        border-bottom: 50px solid #dee2e6
;
    }
    
    .two:after {
        content: "";
        position: absolute;
        bottom: -50px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 95px solid transparent;
        border-right: 95px solid transparent;
        border-top: 50px solid #ced4da
;
    }
    
    .two:hover{
      opacity:0.4;
      -webkit-transition: all .8s ease-in-out;
      -moz-transition: all .8s ease-in-out;
      -o-transition: all .8s ease-in-out;
      transition: all .8s ease-in-out;
    }
    /* Right*/
    .three {
         width: 190px;
        height: 115px;
     top:350px;
      display: flex;
      justify-content: center;

     
      background: -webkit-linear-gradient(#dee2e6, #ced4da );
     float:left;
     left: 2px;
        position: relative;
    }
    
    .three:before {
        content: "";
        position: absolute;
        top: -50px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 95px solid transparent;
        border-right: 95px solid transparent;
        border-bottom: 50px solid #dee2e6
;
    }
    
    .three:after {
        content: "";
        position: absolute;
        bottom: -50px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 95px solid transparent;
        border-right: 95px solid transparent;
        border-top: 50px solid #ced4da
;
    }
    
    .three:hover{
      opacity:0.4;
      -webkit-transition: all .8s ease-in-out;
      -moz-transition: all .8s ease-in-out;
      -o-transition: all .8s ease-in-out;
      transition: all .8s ease-in-out;
    }
    /*Topleft*/
    .four{
        width: 190px;
        height: 115px;
        display: flex;
        justify-content: center;
     float:left;
     top:70px;
     left:98px;
     background: -webkit-linear-gradient( #f6f9fc, #e9ecef  );
        position: relative;
    }
    
    .four:before {
        content: "";
        position: absolute;
        top: -50px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 95px solid transparent;
        border-right: 95px solid transparent;
        border-bottom: 50px solid #f6f9fc
;
    }
    
    .four:after {
        content: "";
        position: absolute;
        bottom: -50px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 95px solid transparent;
        border-right: 95px solid transparent;
        border-top: 50px solid #e9ecef 
;
    }
    
    .four:hover{
      opacity:0.4;
       -webkit-transition: all .8s ease-in-out;
      -moz-transition: all .8s ease-in-out;
      -o-transition: all .8s ease-in-out;
      transition: all .8s ease-in-out;
    }
    /*Top Right*/
    .five{
        width: 190px;
        height: 115px;
        display: flex;
        justify-content: center;
     float:left;
     top:71px;
     left: 98px;
     background: -webkit-linear-gradient(#f6f9fc, #e9ecef );
;
        position: relative;
    }
    
    .five:before {
        content: "";
        position: absolute;
        top: -50px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 95px solid transparent;
        border-right: 95px solid transparent;
        border-bottom: 50px solid #f6f9fc
;
    }
    
    .five:after {
        content: "";
        position: absolute;
        bottom: -50px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 95px solid transparent;
        border-right: 95px solid transparent;
        border-top: 50px solid #e9ecef
;
    }
    
    .five:hover{
      opacity:0.4;
       -webkit-transition: all .8s ease-in-out;
      -moz-transition: all .8s ease-in-out;
      -o-transition: all .8s ease-in-out;
      transition: all .8s ease-in-out;
    }
     /* Bottom Right*/
    .six{
        width: 190px;
        height: 115px;
        display: flex;
        justify-content: center;
     float:left;
     top:400px;
     left: -93px;
     background: -webkit-linear-gradient(#adb5bd, #8898aa );
;
        position: relative;
    }
    
    .six:before {
        content: "";
        position: absolute;
        top: -50px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 95px solid transparent;
        border-right: 95px solid transparent;
        border-bottom: 50px solid #adb5bd
;
    }
    
    .six:after {
        content: "";
        position: absolute;
        bottom: -50px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 95px solid transparent;
        border-right: 95px solid transparent;
        border-top: 50px solid #8898aa
;
    }
    
    .six:hover{
      opacity:0.4;
       -webkit-transition: all .8s ease-in-out;
      -moz-transition: all .8s ease-in-out;
      -o-transition: all .8s ease-in-out;
      transition: all .8s ease-in-out;
    }
    /* Bottom Left*/
    .seven{
        width: 190px;
        height: 115px;
        display: flex;
        justify-content: center;
     float:left;
     top:285px;
     right: -97px;
     background: -webkit-linear-gradient(#adb5bd, #8898aa );
;
        position: relative;
    }
    
    .seven:before {
        content: "";
        position: absolute;
        top: -50px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 95px solid transparent;
        border-right: 95px solid transparent;
        border-bottom: 50px solid #adb5bd
;
    }
    
    .seven:after {
        content: "";
        position: absolute;
        bottom: -50px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 95px solid transparent;
        border-right: 95px solid transparent;
        border-top: 50px solid #8898aa
;
    }
    
    .seven:hover{
      opacity:0.4;
       -webkit-transition: all .8s ease-in-out;
      -moz-transition: all .8s ease-in-out;
      -o-transition: all .8s ease-in-out;
      transition: all .8s ease-in-out;
    }